#services {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; 
}

#services > a > div {
    display: flex;
    margin: 10px;
    height: 200px;
    width: 200px;
    text-align: center;
    background-color: black;
    flex-direction: column;
    color: grey;
}

#services > a >div:hover {
    transition: 0.2s ease-in-out;
    background-color: whitesmoke;
    cursor: pointer;
    box-shadow: 0px 0px 15px grey;
}

#services > a > div:hover > .service-name {
    transition: 0.5s ease-in-out;
    color: rgb(43, 27, 104);
}

#services i {
    font-size: 80px;
    margin-top: 25px;
}

.service-name {
    color: white;
    font-size: 30px;
}